server:
  port: 8080

spring:
  application:
    name: demo

  datasource:
    url: jdbc:postgresql://localhost:5432/postgres
    username: postgres
    password: root
    driver-class-name: org.postgresql.Driver

  session:
    store-type: jdbc
    jdbc:
      initialize-schema: always

  security:
    saml2:
      relyingparty:
        registration:
          adfs:   # registrationId，可随意，但要和 URL 一致
            assertingparty:
              metadata-uri: classpath:metadata/idp-metadata.xml
